@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the Anila framework, then add our
 * project-specific components afterwards.
 */

  @import "compass";

/*------------------------------------*\
    $VARS
    see default.scss, and set it here
\*------------------------------------*/

		/**
		 * Setup screen
		 */
		$specified: true;
		$media-desktop: false;
		$media-phone: false;


/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/

	@import "anila/anila";