@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**
 *
 * sass --watch style.scss:style.min.css --style compressed
 *
 * Here we pull in some variables, include the Anila framework, then add our
 * project-specific components afterwards.
 */

  @import "compass";
	
/*------------------------------------*\
    $VARS
\*------------------------------------*/
		
		/**
		 * Setup screen
		 */
		$specified: 				true;
		$media-desktop: 		true;
		$media-phone: 			false;
		$media-tablet: 			false;


/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
	
	@import "anila/anila";