/*------------------------------------*\
    GENERAL MIXIN
\*------------------------------------*/


/*------------------------------------*\
    HEADER MIXIN
\*------------------------------------*/

	// GENERAL
	@mixin header-shadow {
		@include box-shadow(0 0 12px $header-shadow-color);
	}
	


	// COMPOSE
	@mixin header-base-color($use-shadow: false) {
		background-color: $header-bg-color;
		@if $use-shadow {
			@include header-shadow();
		}
	}

	@mixin extra-topping($topping) {
		@if $topping == milk {
			background-color: $general-color;
		}
		@if $topping == red-wine {
			background-color: $primary-base-color;
		}
		@if $topping == mint-frosting {
			background-color: $secondary-base-color;
		}
		@if $topping == blue-ice {
			background-color: $tertiary-base-color;
		}
		@if $topping == melted-cheese {
			background-color: $quaternary-base-color;
		}
	}

/*------------------------------------*\
  MENU MIXIN
\*------------------------------------*/

	@mixin menu-base {
		background-color: $menu-bg-color;
		color: $menu-font-color;
		font-weight: $font-weight-bold;
	}


/*------------------------------------*\
  ISLANDS MIXIN
\*------------------------------------*/

	@mixin ap-island-base {
		margin: $ap-islands-shadow-width 0 $ap-islands-spacing 0;
		@include box-shadow(0 0 $ap-islands-shadow-width $ap-islands-shadow-color);
	}

