.ad-tabbed {
}
.tabbed-menu {
	&.on-home {
		li {
			display: inline-block;
			margin-left: 10px;
			font-size: 1.2em;
      font-weight: 300;
      a {
        display: block;
        padding: 10px;
        background-color: #e6e6e6;
        color: $quinary-base-color;
        &:hover {
          color: darken($quinary-base-color, 10%);
        }
        &.selected {
          @include extra-topping(blue-ice);
          color: #FFF;
        }
      }
		}
	}
}


/*! --------- CUSTOM SPECIFIED --------- */
/*
* if you want to keep compile your custom style for specified media.
* you may want to use it.
* but if you won't compile specified media, you have to set:
* $specified: true;
* $media-desktop: false;
* $media-tablet: false;
* $media-phone: false;
*/

@if $specified == true {

  /*------------------------------------*\
      $MEDIA-DESKTOP
  \*------------------------------------*/

  @if $media-desktop == true {
    /**
     * START YOUR STYLING HERE!
     */
    
    @include media-query(desktop) {
	

    }


  } //end condition media-desktop

  /*------------------------------------*\
      $MEDIA-TABLET
  \*------------------------------------*/
  /**
   * set condition for media tablet
   */
  @else if $media-tablet == true {
    /**
     * START YOUR STYLING HERE!
     */

    @include media-query(tablet) {
	    
			.tabbed-menu {
				border-top: solid 1px #ccc;
				border-bottom: solid 1px #ccc;
				padding: 2px 0;
				margin-bottom: 20px;
				&.on-mybolt {
					li {
						&.tabbed-icon {
							display: inline-block;
						}
						a {
							padding: 4px 10px;
						}
					}
				}
			}

    }


  } //end condition media-tablet

  /*------------------------------------*\
      $MEDIA-PHONE
  \*------------------------------------*/
  /**
   * set condition for media phone
   */
  @else if $media-phone == true {
    /**
     * START YOUR STYLING HERE!
     */

    @include media-query(phone) {

			.tabbed-menu {
				border-top: solid 1px #ccc;
				border-bottom: solid 1px #ccc;
				padding: 2px 0;
				margin-bottom: 20px;
				&.on-mybolt {
					li {
						&.tabbed-icon {
							display: inline-block;
						}
						a {
							padding: 4px 10px;
						}
					}
				}
			}

    }


  } //end condition media-phone


}

// fallback for IE8
// rendered to style.css
@else {

    /* empty */


    // fallback for no script user
    @if $no-script == true {

      @include media-query(desktop) {
        /* empty */
      }
      // end query desktop

      @include media-query(tablet) {

      }
      // end query tablet

      @include media-query(phone) {
        /* empty */
      }
      // end query phone


    }


} // end if specified