.menu {
	@include menu-base;
}
.top-menu {
	ul {
		margin-bottom: 0;
		li {
			border-right: solid 1px #FFF;
			padding: 15px;
			@include inline-block;
		}		
	}
}

.main-menu {
	background: $menu-bg-color;
	color: $menu-font-color;
}

.gn-menu-main,
.gn-menu-main ul {
	margin: 0;
	padding: 0;
	background: $header-bg-color;
	list-style: none;
	text-transform: none;
	font-weight: 300;
	line-height: 65px;
}
ul.gn-menu,
ul.gn-submenu {
	background: $menu-bg-color;
	&>li {
		padding-bottom: 0;
		line-height: 40px;
	}
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 65px;
		font-size: 13px;
		a {
			display: block;
			height: 100%;
			color: #FFF;
			text-decoration: none;
			cursor: pointer;
		}
		& > li {
			display: block;
			float: left;
			height: 100%;
			border-right: 1px solid #FFF;
			text-align: center;
		}
}

/* icon-only trigger (menu item) */

.gn-menu-main {
	li.gn-trigger {
		position: relative;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	& > li.logo {
		float: right;
		border-right: none;
	}
}

.gn-menu-main > li > a {
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
}

.gn-menu-wrapper {
	position: fixed;
	top: 65px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: $menu-width;
	border-top: $menu-border-width $menu-border-style $menu-border-color;
	background: $menu-bg-color;
	@include box-shadow(1px 2px 16px rgba(0,0,0,.23));
	@include vendor(transform, translateX(-$menu-width));
	-webkit-transition: -webkit-transform 0.3s, width 0.3s;
	-moz-transition: -moz-transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
	position: absolute;
	overflow-y: scroll;
	width: $menu-width;
	height: 100%;
}

.gn-menu {
	border-bottom: $menu-border-width $menu-border-style $menu-border-color;
	text-align: center;
	font-size: 18px;
	font-family: $font-family;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
	box-shadow: inset 0 $menu-border-width $menu-border-color;
}


.gn-icon-wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	line-height: 1;
	speak: none;
	padding-top: 10px;
}


/* submenu */

.gn-submenu li {
	overflow: hidden;
	height: 0;
	@include transition(height 0.3s);
}

.gn-submenu li a {
	color: $menu-font-color;
}


/* if an icon anchor has a span, hide the span */

.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
	@include vendor(transform, translateX(0px));
}

.gn-menu-wrapper.gn-open-all {
	width: $menu-width;
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
	height: 65px;
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
		@include vendor(transform, translateX(0px));
		width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
		width: 130%;
	}
}