@import "compass/utilities/sprites";

$ap-components-spacing: 10px;
$ap-components-sprite-dimensions: true;
@import "ap-components/*.png";

.compo-adplus {
	@include inline-block;
	&.logo-big { @include ap-components-sprite(logo-big); }
	&.logo-simple { @include ap-components-sprite(logo-simple); }
}

$ap-icons-spacing: 10px;
$ap-icons-sprite-dimensions: true;
@import "ap-icons/*.png";

.icons-adplus {
	@include inline-block;
	&.logout { @include ap-icons-sprite(logout); }
	&.menu { @include ap-icons-sprite(menu); }
	&.home { @include ap-icons-sprite(home); }
	&.web { @include ap-icons-sprite(web); }
	&.mobile { @include ap-icons-sprite(mobile); }
	&.message { @include ap-icons-sprite(message); }
	&.settings { @include ap-icons-sprite(settings); }
	&.money-label { @include ap-icons-sprite(money-label); }
	&.secure-label { @include ap-icons-sprite(secure-label); }
	&.impressions-label { @include ap-icons-sprite(impressions-label); }
	&.graph-label { @include ap-icons-sprite(graph-label); }
	&.fillrate-label { @include ap-icons-sprite(fillrate-label); }
	&.message-label { @include ap-icons-sprite(message-label); }
	&.round-chevron-down { @include ap-icons-sprite(round-chevron-down); }
}