/*=================================================================*\
*  
*  CUSTOM STYLING
*
*  IMPORTS
*  
\*=================================================================*/

/*------------------------------------*\
    GENERAL
\*------------------------------------*/

@import "vars"; // custom vars
@import "general/custom-mixins"; // custom mixins


/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

@import "components/custom-sprite";

// components
@import "components/custom-menu";
@import "components/custom-islands";
@import "components/ad-tabs";


/*=================================================================*\
*  
*  CUSTOM STYLING
*
*  CLASSES
*  
\*=================================================================*/

/*
here is your global classes 
they will stay on every stylesheets (style-desktop, style-tablet, style-phone, style)
*/
body {
	background: url("../img/pattern.jpg") repeat left top;
	color: $body-font-color;
}
.container {
	width: 98.5%;
	margin: 0 auto;
	padding-top: 80px;
}

ul, li {
	font-family: $font-family;
}

/*
color classes
*/
.milk {
	@include extra-topping(milk);
}
.red-wine {
	@include extra-topping(red-wine);
}
.blue-ice {
	@include extra-topping(blue-ice);
}
.mint-frosting {
	@include extra-topping(mint-frosting);
}
.melted-cheese {
	@include extra-topping(melted-cheese);
}

// stands for on white color
.ow-color {
	color: $quinary-base-color;
}
a.ow-color {
	&:hover {
		color: darken($quinary-base-color, 10%);
		text-decoration: underline;
	}
}

.table-data {
  font:14px/1 $font-family;
}

table {
	td, th {
		font-weight: $body-font-weight;
	}
}

.ap-inline-navigation {
	margin: 0;
	padding: 0;
	@include clearfix;
	@include extra-topping(mint-frosting);
	li {
		display: block;
		float: left;
		padding: 15px;
	}
}

ul.inline-block {
	li {
		@include inline-block;
		font-size: 14px;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.button-group-horizontal {
	margin-top: 20px;
	.btn {
		margin-bottom: 10px;
	}
}
.headline-bordered {
	margin-bottom: 10px;
	&.bottom {
		border-bottom: solid 1px #ccc;
	}
	&.top {
		border-top: solid 1px #ccc;
	}
}

.btn {
	font-family: $font-family;
}

#tooltip {
  position: absolute;
  display: none;
  border: none;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 10px;
  background-color: #222222;
  color: #ffffff;
  z-index: 25;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

.header {
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	@include header-base-color($use-shadow: true);
}

.welcome {
		//padding-right: 12px;
		margin-top: $welcome-margin-top;
		margin-left: 10px;
	p {
		padding: $welcome-margin-top/2;
		background-color: #e6e6e6;
		color: $username-font-color;
	}
	a {
		color: $username-font-color;
		text-decoration: underline;
	}
	a:hover {
		text-decoration: underline;
		color: darken($username-font-color, 10%);
	}
	.welcome-navi {
		font-size: emCalc(14px);
		padding-right: 5px;
	}
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.footer {
	padding-right: 12px;
	border-top: solid 1px #FFF;
	p {
		text-align: right;
		color: $primary-base-color;
	}
	a {
		color: $primary-base-color;
	}
}

/*------------------------------------*\
    LOGIN
\*------------------------------------*/

.form-login-wrapper {
	width: 90%;
	margin: 20px auto;
	padding-bottom: 30px;
	form {
		font-family: $font-family;
	}
}
.logo-in-login {
	width: 30%;
	margin: 0 10px 10px 0;
}
.form-helper {
	a {
		color: #7f8c8d;
		text-decoration: underline;
	}
	&:hover {
		color: $primary-base-color;
	}
}
input.error {
	border: solid 1px $primary-base-color;
}
.form-input-control.error {
	&:focus {
		border-color: $primary-base-color;
	}
}
span.error {
	color: $primary-base-color;
}
.form-checkbox-control {
	width: auto;
}
.check-copy {
	font-size: 14px;
}
input[type="checkbox"],
input[type="radio"] {
	width: auto;
}

/*------------------------------------*\
    IN CONTAINER

    LEFT ROW
\*------------------------------------*/

	// date
	.date-wrapper {
	padding: $ap-islands-padding;
		.icon-date-wrapper {
			width: 20%;
			text-align: center;
			@include inline-block;
		}
		.detail-date-wrapper {
			@include inline-block;
		}
	}
	
	// date
	.detail-date-wrapper {
		p {
			margin-bottom: 5px;
		}
		h2, h3, h4, h5 {
			padding: 0;
		}
	}

	// left header general - used for budget islands
	.ap-islands-header {
		padding: 15px 10px 10px 15px;
	}
	.islands-label-wrapper {
		margin-top: -18px;
		width: 56px;
		height: 64px;
		float: right;
	}
	.ap-islands-content-group-1 {
		vertical-align: middle;
		li {
			padding: $base-spacing-unit;
			@include inline-block;
		}
		.ap-islands-identifier {
			width: 20%;
			text-align: center;
		}
		.ap-islands-content-1 {
			width: 80%;
			padding: 0 5%;
			text-align: left;
		}
	}
	.ap-islands-command {
		font-size: 18px;
		padding: 8px 0;
		color: white;
		text-transform: uppercase;
		p {
			text-align: center;
			margin-bottom: 0;
		}
	}
	
	// data campaign
	.ap-table {
		thead {
			border-left: solid 1px $tertiary-base-color;
		}
		.ap-table-content {
			tr {
				border-bottom: solid 1px #e1e1e1;
			}
			td {
				a {
					color: darken(#7f8c8d, 10%);
					text-decoration: underline;
					&:hover {
						color: $primary-base-color;
					}		
				}
			}
		}
	}
	.ap-table-load {
		background-color: #7f8c8d;
		font-size: 18px;
		padding: 8px 0;
		color: white;
		text-transform: uppercase;
		p {
			text-align: center;
			margin-bottom: 0;
		}
	}

/*------------------------------------*\
    IN CONTAINER

    LEFT ROW
\*------------------------------------*/

		.widget-content {
			padding: 20px 0;
			width: 95%;
			margin: 0 auto;
		}
		
		// chart
		// notice : set their height!
		.statWeek, {
			height: 400px;
			max-width: 100%;
		}
		.statThisMonth {
			height: 400px;
			max-width: 100%;
		}
		.statLastMonth {
			height: 400px;
			max-width: 100%;
		}
		
		.chart-label {
			p {
				margin-bottom: 0;
			}
		}
		
		.chart-definition {
			padding-bottom: 20px;
		}

/*------------------------------------*\
    MESSAGE.PHP

    LEFT ROW
\*------------------------------------*/

		.ap-mini-label {
			@include vendor(border-radius, $round-radius);
			vertical-align: middle;
			padding: 5px;
			font-size: 12px;
			margin-left: 8px;
			margin-top: -5px;
			text-align: center;
		}
		.round-chevron-down {
			width: 12px;
			height: 12px;
			background: #000;
			margin-top: -3px;
		}

		form.composeMsg {
			width: 95%;
			margin: 0 auto;
			padding: 10px 0;
			textarea {
				width: 100%;
				margin-bottom: 20px;
			}
			input[type="file"] {
				width: 100%;
			}
		}

		.messageDetail {
			padding: 10px;
			p, h2, h3, h4, h5 {
				@extend .ow-color;
			}
		}

/*------------------------------------*\
    HELPER
\*------------------------------------*/



/*! --------- CUSTOM SPECIFIED --------- */
/*
* if you want to keep compile your custom style for specified media.
* you may want to use it.
* but if you won't compile specified media, you have to set:
* $specified: true;
* $media-desktop: false;
* $media-tablet: false;
* $media-phone: false;
*/

@if $specified == true {

	/*------------------------------------*\
	    $MEDIA-DESKTOP
	\*------------------------------------*/

	@if $media-desktop == true {
		/**
		 * START YOUR STYLING HERE!
		 */
		
		@include media-query(desktop) {
			
			/*----------------*\
			    CHARTS
			\*----------------*/
			.chart-label-wrapper {
				width: 30%;
				float: left;
			}
			.chart-label {
				display: block;
				padding: 10px 8px 10px 20%;
			}
			.chart-options {
				padding-right: 23px;
				width: 30%;
				float: right;
			}


			/*-------------------*\
			    RUNNING CAMPAIGN
			\*-------------------*/
			.ap-islands-options {
				float: right;
				width: 13%;
				margin-top: 10px;
			}

		}


	} //end condition media-desktop

	/*------------------------------------*\
	    $MEDIA-TABLET
	\*------------------------------------*/
	/**
	 * set condition for media tablet
	 */
	@else if $media-tablet == true {
		/**
		 * START YOUR STYLING HERE!
		 */

		@include media-query(tablet) {

			/*----------------*\
			    CHARTS
			\*----------------*/
			.chart-label-wrapper {
				float: none;
				margin-bottom: 10px;
				width: 100%;
			}
			.chart-label {
				display: block;
				padding: 10px;
				text-align: center;
			}

			.chart-options {
				width: 95%;
				margin: 0 auto;
			}


			/*-------------------*\
			    RUNNING CAMPAIGN
			\*-------------------*/
			.ap-islands-options {
				float: right;
				width: 13%;
				margin-top: 10px;
			}


		}


	} //end condition media-tablet

	/*------------------------------------*\
	    $MEDIA-PHONE
	\*------------------------------------*/
	/**
	 * set condition for media phone
	 */
	@else if $media-phone == true {
		/**
		 * START YOUR STYLING HERE!
		 */

		@include media-query(phone) {

			/*----------------*\
			    CHARTS
			\*----------------*/
			.chart-label-wrapper {
				float: none;
				margin-bottom: 10px;
				width: 100%;
			}
			.chart-label {
				display: block;
				padding: 10px;
				text-align: center;
			}

			.chart-options {
				width: 95%;
				margin: 0 auto;
			}

			/*-------------------*\
			    RUNNING CAMPAIGN
			\*-------------------*/
			.ap-islands-options {
				float: none;
				width: 100%;
				margin-top: 0;
			}
			.ap-islands-header {
				.flo-l {
					float: none;
					margin-bottom: 10px;
				}
			}

		}


	} //end condition media-phone


}

// fallback fo IE8
@else {

	.chart-label-wrapper {
		width: 30%;
		float: left;
	}

	@if $no-script == true {

		

	}

}